{% extends 'base.html' %}
{% load rest_framework %}


{% block content %}


    <!-- main -->
    <div class="main-w3layouts wrapper">
        {% if type == 'register' %}
            <h1>SignUp Form</h1>
        {% elif type == 'login' %}
            <h1>Login Form</h1>
        {% endif %}
        <div class="main-agileinfo">
            <div class="agileits-top">
                <form action="{% if type == 'register' %}{% url 'weather:register' %}{% elif type == 'login' %}
{% url 'weather:login' %}{% endif %}"
                      method="post">

                    {% csrf_token %}
                    {% render_form form %}
                    <div class="wthree-text">

                        <div class="clear"></div>
                    </div>
                    {% if type == 'register' %}
                        <input type="submit" value="SIGNUP">
                    {% elif type == 'login' %}
                        <input type="submit" value="LOGIN">
                    {% endif %}

                </form>
                {% if type == 'register' %}
                    <p>have an Account? <a href="{% url 'weather:login' %}"> Login Now!</a></p>
                {% elif type == 'login' %}
                    <p>Do not have an Account? <a href="{% url 'weather:register' %}"> Sign Up Now!</a></p>
                {% endif %}

            </div>
        </div>
        <!-- copyright -->



    </div>
{% endblock %}
{% block scripts %}
    {% if user.is_authenticated %}
        already Logined
        <script type="text/javascript">

            window.location.replace('{% url 'weather:weather-ui' %}');
        </script>
    {% endif %}
{% endblock %}
